code/weaving-network/src/main/resources/META-INF/weaving_network_1_0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://jerrymouse.org/ns/weaving_network"
	xmlns:w="http://jerrymouse.org/ns/weaving_network" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<xs:import namespace="http://www.w3.org/2001/XMLSchema-instance"
		schemaLocation="xsi.xsd" />
	<xs:element name="weaving-network">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="w:GFW-list" />
				<xs:element name="inGFW" type="xs:boolean" />
			</xs:sequence>
			<xs:attribute name="version" use="required" type="xs:decimal" />
			<xs:attribute ref="xsi:schemaLocation" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="GFW-list">
		<xs:complexType>
			<xs:sequence>
				<xs:attribute name="website" use="required" type="xsd:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>